@font-face
{
	font-family:"Kaushan";
	src:url("Kaushan.otf");
}

@font-face
{
	font-family:"Nobiler";
	src:url("Nobiler.ttf");
}


body
{
	margin:0px;
}

#topPage
{
	height:100vh;
	display:flex;
	flex-direction:row;
}

/* =========================INDEX========================= */
aside
{
	width:30%;
	height:100vh;
	background-color:white;
	border-radius:0px 5px 5px 0px;
}

h1, li
{
	font-family:"Kaushan";
}

aside h1
{
	color:#6ca2d1;
	margin-top:0px;
	padding-top:20px;
	text-align:center;
	font-size:2em;
	width:60%;
	margin:auto;
	border-bottom:1px solid #d18e32; 
	padding-bottom:5px;
}


aside ul
{
	margin-top:100px;
	list-style:none;
	margin-left:20px;
}

aside ul li
{
	font-size:2em;
	margin:50px;
	cursor:pointer;
}

ul li a
{
	text-decoration:none;
	color:#6ca2d1;
	border-bottom:1px solid #d18e32;
	transition:border 0.3s ease;
	
}

ul li a:hover
{
	border-bottom:3px solid #d18e32;
}

#bottomInfo
{
	margin-top:70px;
	width:100%;
	border-top:1px solid #6ca2d1;
}

#infoH1
{
	margin-bottom:20px;
}

#bottomInfo p
{
	width:80%;
	margin:auto;
	margin-top:20px;
	text-align:justify;
	font-family:"Nobiler";
}

#bottomInfo ul
{
	display:flex;
	flex-direction:row;
}

#bottomInfo ul li
{
	font-family:"Nobiler";
	font-size:1.2em;
	margin:15px;
	width:100px;
}

/*=========================IMG========================= */
#bottomInfo ul li img
{
	width:50px;
}


.airDroidImg
{
	margin-top:13px;
}


.soundcloudImg 
{
	margin-top:2px;
}


#appliImg
{
	display:flex;
	flex-drection:row;
	justify-content:space-around;
	width:100%;
	background-image:url("https://wallpaperaccess.com/full/816773.jpg");
	background-size:cover;
}

.paper a
{
}

.paper a img
{
	width:100%;
	margin:auto;
}

#tedIcon
{
	width:220px;
}

#airDroidIcon
{
	width:220px;
	margin-top:20px;
}

#soundCloudIcon
{
	width:180px;
	margin-top:25px;
}


/*=========================IMG========================= */

.paper
{
	margin-top:100px;
	border-radius:8px;
	width:450px;
	height:70vh;
	background-color:white;
	transition:all 2s ease;
}

.paper center
{
	border-radius:6px 6px 0 0 ;
	background-color:#d18e32;
	height:220px;
}